/* .knob {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
}

.potOuter {
    position: absolute;
    align-self: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: silver;
    border-radius: 50%;
    display: block;
}

.potInner {
    position: absolute;
    height: 90%;
    width: 90%;
    background-color: grey;
    border-radius: 50%;
    display: block;
    align-self: center;
} */
